/* Global styles */

:root {
--primery-font-family:"Montserrat", sans-serif;
--secondary-font-family: "Inter", sans-serif;
--font-size-text: 14px;
--font-size-h1-mob: 20px;
--font-size-h1: 28px;
--font-size-h2-h1f: 24px;
--font-size-h3: 18px;
--font-weight-h1: 500;
--font-weight-h1mob-h2-h3: 600;
--text-letter-spacing:-0.02;

--primary-text-color-dark: rgba(17, 17, 17, 0.7);
--secondary-text-color-dark: rgb(17, 17, 17);
--primary-text-color-clear: rgb(255, 255, 255);
--secondary-text-color-clear: rgba(255, 255, 255, 0.7);

--accent-color: rgb(253, 146, 34);
--btn-color: rgb(252, 241, 224);
--body-bg-color: rgb(250, 250, 250);
--bcgr-color-benefits: rgb(30, 24, 35);
/* transition: ; */
}


*,
*::before,
*::after {
box-sizing: border-box;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
} 


a {
text-decoration: none;
color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
} 

body {
  font-family: var(--primery-font-family);
  font-size: var(--font-size-text);
  /* color: var(--primary-text-color-clear); */
  line-height: 1.28;
  background-color: var(--body-bg-color);
  font-size: var(--font-size-text);
  letter-spacing: var(--text-letter-spacing);
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  min-height: 21px;
  min-width: 21px;
  font-family: inherit;
}

.accent-color {
  color: var(--accent-color);
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

 @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;  
    padding-right: 32px; 
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
 
  }
}




/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  
}

.page-navigation {
 display: flex;
 align-items: center;
 flex-grow: 1;
}

.page-logo {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: var(--secondary-text-color-dark);
}

  .page-logo {
  font-size: var(--font-size-h3);
  line-height: 20px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: var(--secondary-text-color-dark);
}

.page-logo-icon {
  stroke: var(--accent-color);
  fill: none;
}


  .page-logo-icon {
    width: 24px;
    height: 24px;
  }

  .page-menu,
  .socials-list {
    display: none;
}

@media only screen and (min-width: 768px) {
  .socials-list {
  display: flex;
  align-items: center;
  column-gap: 14px;
  }
  .page-menu-link{
    display: block;
    padding: 30px 0;
    font-weight: var(--font-weight-h1);
    line-height: 1.14;
    color: var(--secondary-text-color-dark);
    font-family: var(--second-family);
  }
  .page-menu {
    display: flex;
    column-gap: 24px;
    margin-left: auto;
    margin-top:auto;
  }
  .socials-link {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  }
}

@media only screen and (min-width: 1200px) {
 .socials-list {
  display: flex;
  align-items: center;
  margin-left: 90px;
  column-gap: 14px;
 
 }
}

/* .page-menu-link {
   display:block;  щоб додати висоту в хедері і посилання ставало активним навколо назви посилання слід додати падінги вгорі і знизу, до рядкових ел ці падінги не застосовуються тому слід змінити на блок. */
  /* padding-top: 30px;
  padding-bottom: 30px;
} */

  /* display:flex; */


.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
  border-color: rgba(253, 146, 34, 0.1);
} 

.socials-icon {
   stroke: currentColor;
   fill: currentColor;/*видалить stroke*/
} 

.mobile-menu-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  stroke: var(--secondary-text-color-dark);
  padding: 7px 3.5px;
  line-height: 0;
}

.mobile-menu-icon {
fill: var(--secondary-text-color-dark);
}


@media only screen and (min-width: 768px) {
  .mobile-menu-button{
    display: none;
  }
  .page-menu {
    gap: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-menu {
    gap: 24px;
  }
}

/* HERRO */
.hero-section {
  padding-bottom: 80px;
}
.hero-container {
  padding: 392px 20px 20px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 335px;
  background-position: center;
  background-color: var(--primary-text-color-dark);
  background-image: linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_mob.jpg);
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image:
    linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_mob@2x.jpg);
  
  } 
}

@media only screen and (min-width: 768px) {
  .hero-section {
  padding-bottom: 40px;
  }
  .hero-container {
    max-width: 704px;
    padding: 670px 40px 40px;
    
     background-image: linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_tab.jpg);

  
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_tab@2x.jpg);
    }
  } 
}


@media only screen and (min-width: 1200px) {
  .hero-section {
    padding-bottom: 80px;
  }
    .hero-container {
    max-width: 1136px;
    padding: 380px 40px 40px;
    background-image: 
    linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_desktop.jpg);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero_desktop@2x.jpg);
    }
  
}
}

.main-title {
  max-width: ;
  margin-bottom: 32px;
  font-family: var(--primery-font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-mob);
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--primary-text-color-clear);
}

@media only screen and (min-width: 768px) {
  .main-title {
    max-width: 484px;
    font-size: var(--font-size-h1);
  }
}

.hero-down-btn {
  display: flex;
  flex-direction: column;
}

.hero-btn-wrap {
  display:flex;
  gap: 14px;
  margin-bottom: 32px;
}
.hero-btn-buynow {
  padding: 12px 28px;
 
  min-width: 120px;
  height: 41px;
  border-radius: 100px;
  color: var(--primary-text-color-clear);
  background-color: var(--accent-color);
  font-weight: var(--font-weight-h1mob-h2-h3);
  font-size: var(--font-size-text);
}

.hero-btn-making {
  padding: 12px 28px;
  min-width: 159px;
  height: 41px;
  border-radius: 100px;
  color: var(--primary-text-color-clear);
  background-color: transparent;
  border: 1px solid var(--primary-text-color-clear);
  font-weight: var(--font-weight-h1mob-h2-h3);
  font-size: var(--font-size-text);
}


.hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-text-color-clear);
  font-weight: var(--font-weight-h1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
}
.scroll-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffffff;
}
.scroll-span-svg {
  fill: var(--accent-color);
}
.hero-scroll:hover,
.hero-scroll:focus {
color: var(--accent-color);
}
.hero-scroll:hover .scroll-span,
.hero-scroll:focus .scroll-span {
background: var(--accent-color);
}
.hero-scroll:hover .scroll-span-svg,
.hero-scroll:focus .scroll-span-svg {
fill: var(--primary-text-color-clear);
} 


@media only screen and (min-width: 768px){
.hero-down-btn {
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 40px 0;
}
}

@media only screen and (min-width: 768px) {
  .hero-btn-wrap {
    padding: 0;
    gap: 14px;
}
}

@media only screen and (min-width: 768px){
  .hero-btn-buynow {
    padding: 14px 40px;
    width: 144px;
    height: 45px;
    font-weight: var(--font-weight-h1mob-h2-h3);
    font-size: var(--font-size-text);
  }
}
@media only screen and (min-width: 768px) {
  .hero-btn-making {
    padding: 14px 40px;
    width: 183px;
    height: 45px;
    border-radius: 100px;
    font-weight: var(--font-weight-h1mob-h2-h3);
    font-size: var(--font-size-text);
  }
}

@media only screen and (min-width: 768px) {
.hero-scroll {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  font-size: 14px;
  line-height: 1.28;
  gap: 14px;
}
}
@media only screen and (min-width: 768px) {
  .scroll-span {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (min-width: 768px) {
  .scroll-span-svg {
    width: 22px;
    height: 22px;
  }

}


/* 


/* BENEFITS */
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
border: 0;
white-space: nowrap;
overflow: hidden;
clip: rect(0, 0, 0, 0);
clip-path: inset(100%);
}
#benefits {
  background-color: var(--bcgr-color-benefits);

  margin-bottom: 100px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-list-item {
    
  }
}
.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  background-color: transparent;
  margin-bottom: 22px;
}
  
.benefits-icon {
  fill: var(--accent-color);
}

.benefits-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: var(--font-size-h3);
  color: var(--primary-text-color-clear);
}

.benefits-text {
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

/* INGREDIENTS */
/* HOW IT'S MADE */


/* INGREDIENTS */

.reviews-section-title {
  margin-bottom: 91px;
}
.reviews-list {
  display: flex;
  width: calc((100% - 28px * 2) / 3);
}
.reviews-list-item {
  border: ;
  border-radius: ;
  box-shadow: ;
  background-color: ;
  padding: 56px 24px 24px 24px;
}
/* FOOTER */
.adresse-footer {
font-style : normal ;
}

/* .backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgb( 0 0 0 / 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}
/* центрування вікна модал фіксом на бекдроп або абсолютом на бекдроп, кнопку закриття слід прикріпити на абсолюті тому що так обидва абсолютом */
/* .backdrop.is-open {
  opacity:1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate();
  width: 517;
  height: 734;
  border-radius: 15px;
  background-color: var(--primary-text-color-clear);
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  stroke: #ffffff;
  transition: stroke 250ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
stroke: var(--accent-color);
}
.modal-close-btn-icon {

}
.review-form-slogan {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -0.03;
  line-height: 1.17 ;

  margin-bottom: 40px;
}
.review-form-field-label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  letter-spacing: -0.02;
  line-height: ;
  color: rgb( 64 64 64 / 0.3)
}

.review-form-field-wrapper {

}
.review-form-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgb( 17 17 17 / 0.5;
  border-radius: 15px;
  background-color: transparent;
  padding-left: 62px;
}
.review-form-input-wrapper {
  position: relative;
}
/* .review-form-input-wrapper:focus-within .review-form-input-icon {
 stroke: var(--accent-color);
} або через сестринські елементи-сусіди як нижче: через + це перший сусід зліва з використанням+, а тільда працює по іншому : не перший сусід зліва а будь-який сусід зліва, а нам потрібен саме перший*/
/* .review-form-input:focus + .review-form-input-icon {
  stroke: var(--accent-color);
}



.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill:none;
  stroke: var(--primary-text-color-dark);
  transition: stroke 250ms linear;
  /* fill: none; якщо фарбую через stroke*/
}
.review-form-input {
  outline: none;
  border: #ffffff;
  transition: border-color 250ms linear;
}
.review-form-message {
  width: 100%;
  height: 137px;
  font-size: 18px;
  letter-spacing: -0.02;
  color: var(--secondary-text-color-dark);

  border: 1px solid var(--secondary-text-color-dark);
  border-radius: 15px;
  background-color: transparent;
  padding: 22px 24px;
  resize: none;
  transition: border-color 250ms linear;

}
.review-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
-review-form-message::placeholder {
  color:rgb( 17 17 17 / 0.5)
}
/* на спан перед чекбоксом в  html роблю стилі як у оригінального квадратикаcheckbox  */

.review-form-policy-checkbox:checked + review-form-checkbox-label > .review-form-custom-checkbox {
  background-color: var(--accent-color);
  fill: var(--primary-text-color-clear);
}
.review-form-custom-checkbox:checked {
  width: 28px;
  height: 28px;
}
.review-form-custom-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border 1px solid rgb(17 17 17 /0.4);
  cursor: pointer;
  fill: transparent;
}
/*долдаємо SVG в квадрат нашого span  checkbox*/
.review-form-custom-checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: ;
  height: ;
}
/* приховати оригінальний чекбокс  візуально а для браузера та скрінрідера залишався - visually-hidden додати як клас на тег оригінального чекбоксу*/
.review-form-policy-checkbox:focus + review-form-checkbox-label > .review-form-custom-checkbox {
  outline: 2px solid blue;
} */ */ */
